:root {
  --yellow: #ffc600;
  --black: #272727;
}
button {
  color: white;
  height: 25px;
  font-size: 13px;
  justify-content: center;
  align-items: center;
  background: #339e47;
  border: none;
  border-radius: 20px;
  padding: 6px;
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  @media screen and (max-width: 800px) {
    font-size: 12px;
  }
}
.backg{
  background:rgba(255, 255, 255, 0.72);
  border-radius: 20px;
  padding: 5px;

  
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);


}

.t{
  transform: skew(40deg,20deg);
}
button:hover {
  transform: scale(1.1);
  color: whitesmoke;
  cursor: pointer;
  font-weight: bold;
  border: 2px 2px 2px 2px goldenrod;
}

input {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.179);
  box-shadow: 2px 2px 2px 2px hsl(218, 60%, 92%);
  border: none;
  border-radius: 20px;
  padding: 5px;

}
html {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 900;
  font-size: 16px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

body {
 
  margin: 50px;
  background-position: fixed;
}

span {
  background-color: darkgrey;
  padding: 0.3rem;
  font-size: 0.8em;
  font-family: monospace;
}

p {
  line-height: 1.6em;
}

.tools {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

input[type=number] {
  width: 50px;
}